numpy==1.22.2
matplotlib==3.5.1
pandas==1.4.1
scikit-learn==1.0.2
Pillow==9.0.1
Jinja2==2.11.3
itsdangerous==2.0.1
MarkupSafe==2.0.1
Werkzeug==2.0.3
streamlit
pickle5
pyngrok==5.1.0
scikit-image==0.18.3
